@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.inter-tight-400 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-tight-600 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-tight-800 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


a {
  &:hover {
    text-decoration: underline;
  }
}

.font-michroma {
  @apply inter-tight-800;
}

.bg-decorations-1 {
  background: url('/images/decorations_1.svg') right bottom no-repeat;
}

.bg-decorations-2 {
  background: url('/images/decorations_1.svg') left top no-repeat;
}

.bg-radial-gradient {
  background: radial-gradient(100% 100% at 50% 0%, #1B1B1B 0%, #101010 100%);
}

.bg-rainbow-gradient {
  background: linear-gradient(90deg, #F701F2 0%, #CA2DF4 16.54%, #01F0FE 90.1%);
}

.button {
  transition: all .15s ease;

  background: #323232;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  text-align: center;

  &:disabled {
    background: url('/images/loader.gif') center no-repeat !important;
    cursor: not-allowed;
  }

  &:hover {
    background: #2E2E2E;
  }

  &.active {
    &.button-blue {
      background: #00D1FF;
      box-shadow: 0px 0px 20px rgba(0, 133, 255, 0.47), inset 0px 0px 30px #0085FF;
    }

    &.button-red {
      background: #F20002;
      box-shadow: 0px 0px 20px #FF3D00, inset 0px 0px 30px #FF3D00;
    }

    &.button-green {
      background: #49B50A;
      box-shadow: 0px 0px 20px #49B50A, inset 0px 0px 30px #5EFF00;
    }

    &.button-yellow {
      background: #E2A306;
      box-shadow: 0px 0px 20px #E2A306, inset 0px 0px 30px #E2A306;
    }

    &.button-purple {
      background: mediumpurple;
      box-shadow: 0px 0px 20px mediumpurple, inset 0px 0px 30px mediumpurple;
    }
  }
}

.button-music {
  @apply leading-4 p-2 w-full text-left gap-1 flex flex-col justify-between inter-tight-600;
}

.button-music span{
  @apply block;
}

.form-control {
  background: #323232;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
